	<body style="background-attachment: fixed;
  background-image: url('../img/body-bg3.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;">
		<div class="main-wrapper-first">
			<header>
				<div class="container">
					<div class="header-wrap">
						<div class="header-top d-flex justify-content-between align-items-center">
							<div class="logo">
								<a href="/"><img class="logo" src="img/logo.png" alt=""></a>
							</div>
							<div class="main-menubar">
								<nav class="hide">
									<a href="#avantages">Avantages</a>
									<a href="#langages">Langages</a>
									<a href="#travaux">travaux</a>
									<a href="#temoignages">Témoignages</a>
								</nav>
								<div class="menu-bar"><span class="lnr lnr-menu"></span></div>
							</div>
						</div>
					</div>
				</div>
			</header>
			<div class="banner-area">
				<div class="container">
					<div class="row justify-content-center height align-items-center">
						<div class="col-lg-8">
							<div class="banner-content text-center">
								<span class="text-white top text-uppercase">tu cherches du travail ?</span>
								<h1 class="text-white text-uppercase"> Deviens développeur !</h1>
								<a href="#avantages" class="primary-btn d-inline-flex align-items-center"><span class="mr-10">En savoir plus</span><span class="lnr lnr-arrow-right"></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- bloc avantages -->
      <span id="avantages"></span>
			<section class="featured-area">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="single-feature d-flex flex-wrap justify-content-between">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="lnr lnr-sun"></span>
								</div>
								<div class="desc">
									<h6 class="title text-uppercase">La communauté</h6>
									<p>Notre pédagogie s’appuie sur l’apprentissage entre pairs, ou peer-learning. Concrètement cela signifie que nous mettons en avant l’échange entre les élèves.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single-feature d-flex flex-wrap justify-content-between">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="lnr lnr-code"></span>
								</div>
								<div class="desc">
									<h6 class="title text-uppercase">Le Code</h6>
									<p>Le code d’aujourd’hui, l’emploi de demain. Au cours de cette formation de 3 mois, vous apprendrez les 5 technologies nécessaires pour monter un site en front-end (HTML, CSS, JavaScript, ruby et ruby on rails).</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single-feature d-flex flex-wrap justify-content-between">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="lnr lnr-clock"></span>
								</div>
								<div class="desc">
									<h6 class="title text-uppercase">3 mois</h6>
									<p>THP est une formation qui, en 3 mois, à plein temps, vous apportera des connaissances actionnables pour vous permettre de voir plus loin.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- fin avantages -->
			<!-- block langages -->
      <span id="langages"></span>
			<section class="service-area">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-8">
							<div class="section-title text-center">
								<h3 class="text-white">Langages Web</h3>
								<span class="text-white text-uppercase">Les incontournables</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3 col-sm-6">
							<div class="single-service">
								<div class="thumb" style="background: url(img/s1.jpg);">
									<div class="overlay overlay-content d-flex justify-content-center align-items-center">
										<a href="#form" class="primary-btn hover d-inline-flex align-items-center"><span class="mr-10">En savoir plus</span><span class="lnr lnr-arrow-right"></span></a>
									</div>
								</div>
								<div class="desc">
									<h6 class="text-uppercase text-white">HTML/CSS</h6>
									<p class="text-white">Apprenez comment utiliser le HTML et le CSS pour faire des pages web.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6">
							<div class="single-service">
								<div class="thumb" style="background: url(img/ruby.png);">
									<div class="overlay overlay-content d-flex justify-content-center align-items-center">
										<a href="#form" class="primary-btn hover d-inline-flex align-items-center"><span class="mr-10">En savoir plus</span><span class="lnr lnr-arrow-right"></span></a>
									</div>
								</div>
								<div class="desc">
									<h6 class="text-uppercase text-white">Ruby</h6>
									<p class="text-white">Ruby est un langage open-source dynamique qui met l'accent sur la simplicité et la productivité.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6">
							<div class="single-service">
								<div class="thumb" style="background: url(img/ror.png);">
									<div class="overlay overlay-content d-flex justify-content-center align-items-center">
										<a href="#form" class="primary-btn hover d-inline-flex align-items-center"><span class="mr-10">En savoir plus</span><span class="lnr lnr-arrow-right"></span></a>
									</div>
								</div>
								<div class="desc">
									<h6 class="text-uppercase text-white">Ruby on rails</h6>
									<p class="text-white">Ruby on Rails, également appelé RoR ou Rails, est un framework web libre écrit en Ruby.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6">
							<div class="single-service">
								<div class="thumb" style="background: url(img/js.png);">
									<div class="overlay overlay-content d-flex justify-content-center align-items-center">
										<a href="#form" class="primary-btn hover d-inline-flex align-items-center"><span class="mr-10">En savoir plus</span><span class="lnr lnr-arrow-right"></span></a>
									</div>
								</div>
								<div class="desc">
									<h6 class="text-uppercase text-white">Javascript</h6>
									<p class="text-white">JavaScript est un langage de programmation de scripts principalement employé dans les pages web interactives. </p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End Service Area -->
			<!-- bloc travaux -->
		</div>
    <span id="travaux"></span>
		<div class="main-wrapper">
			<section class="amazing-works-area">
					<div class="row justify-content-center">
						<div class="col-lg-8">
							<div class="section-title text-center">
								<h3>Quelques projets réalisés par nos corsaires</h3>
							</div>
						</div>
					</div>
					<div class="active-works-carousel mt-40">
						<div class="item">
							<div class="thumb" style="background: url(img/p1.png);"></div>
							<div class="caption text-center">
								<h6 class="text-uppercase">Studiomatic</h6>
								<p>Studiomatic est une plateforme de réservation de studios à distance, 7j/7, 24h/24</p>
							</div>
						</div>
						<div class="item">
							<div class="thumb" style="background: url(img/p2.png);"></div>
							<div class="caption text-center">
								<h6 class="text-uppercase">Glagla-relais</h6>
								<p>Glagla-relais est une réseau de relais frais pour colis alimentaires !</p>
							</div>
						</div>
						<div class="item">
							<div class="thumb" style="background: url(img/p3.png);"></div>
							<div class="caption text-center">
								<h6 class="text-uppercase">Cryptowl</h6>
								<p>Cryptowl est un chatbot qui vous permet de rester au courant de l'actualité des cryptomonnaies</p>
							</div>
						</div>
						<div class="item">
							<div class="thumb" style="background: url(img/p4.png);"></div>
							<div class="caption text-center">
								<h6 class="text-uppercase">Algoski</h6>
								<p>Algoski vous permet d'optimiser vos tarifs pour vous locations de ski</p>
							</div>
						</div>
			</section>
		</div>
		<div class="main-wrapper">
			<!-- fin bloc travaux -->
			<!-- bloc témoignages -->
      <span id="temoignages">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <section class="story-area">
              <div class="container">
                <div class="row align-items-center">
                  <div class="col-lg-3">
                    <div class="story-title">
                      <h3 class="text-white">Nos témoignages</h3>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="story-box">
                      <h6 class="text-uppercase">Mon aventure the hacking project</h6>
                      <p>Avec mon master en Ebusiness, je travaillais en tant que consultante CRM et proxy Product owner 
                      chez AXA et j'ai démissionné pour THP. J'ai découvert THP par hasard sur Facebook en lisant l'article
                      la crème de la crème. Ca m'a donné l'envie de me former en développement web et d'ajouter cette compétence
                        sur mon CV. </p>
                      <a href="#form" class="primary-btn hover d-inline-flex align-items-center"><span class="mr-10">En savoir plus</span><span class="lnr lnr-arrow-right"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            </div>
            <div class="carousel-item">
              <section class="story-area2">
              <div class="container">
                <div class="row align-items-center">
                  <div class="col-lg-3">
                    <div class="tem-bg">
                    <div class="story-title">
                      <h3 class="text-white">Nos témoignages</h3>
                    </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="story-box">
                      <h6 class="text-uppercase">Mon aventure the hacking project</h6>
                      <p> La formation revêt énormément d'aspects qui m'ont enthousiasmé : Le peer-learning,
                       le programme intense, Ruby et Ruby on Rails qui sont simplement passionnants, le 
                       programme couvre un large panel de langages et techniques. En projet final,
                        nous avons travaillé sur le site de THP, c'était une expérience enrichissante.   </p>
                      <a href="#form" class="primary-btn hover d-inline-flex align-items-center"><span class="mr-10">En savoir plus</span><span class="lnr lnr-arrow-right"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
			<!-- fin bloc témoignages -->
			<!-- bloc newsletter -->
      <section class="subscription-area">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-8">
							<div class="section-title text-center">
								<h3>Abonnez-vous à notre newsletter</h3>
								<span class="text-uppercase">Aprends à coder</span>
							</div>
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-lg-6">
							<div id="mc_embed_signup">
								<form target="_blank" novalidate action="https://github.us19.list-manage.com/subscribe/post?u=42af29d41ae3a7314e21bb291&amp;id=f8d78a3946" method="post" class="subscription relative">
									<input type="email" name="EMAIL" placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" required>
									<div style="position: absolute; left: -5000px;">
										<input type="text" name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="">
									</div>
									<button class="primary-btn hover d-inline-flex align-items-center"><span class="mr-10">Clic pour t'inscrire</span><span class="lnr lnr-arrow-right"></span></button>
									<div class="info"></div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
      
			<!-- fin bloc newsletter -->
			<!-- bloc footer -->
			<footer>
      <span id="form"></span>
				<div class="container">
					<div class="footer-content d-flex justify-content-between align-items-center flex-wrap">
						<div class="logo">
							<img class="logo" src="img/logo.png" alt="logo thp">
						</div>
            <div class="logo">
							<a href="https://www.thehackingproject.org/"><img class="logo-thp" src="img/logothp.png" alt="logo thp"></a>
						</div>
						<div class="footer-social">
							<a href="https://www.facebook.com/thehackingproject/"><i class="fa fa-facebook"></i></a>
							<a href="https://mobile.twitter.com/the_hacking_pro"><i class="fa fa-twitter"></i></a>
							<a href="https://www.instagram.com/the_hacking_project/"><i class="fa fa-instagram"></i></a>
						</div>
					</div>
				</div>
			</footer>
			<!-- fin bloc footer -->
		</div>




		<script src="js/vendor/jquery-2.2.4.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
		<script src="js/vendor/bootstrap.min.js"></script>
		<script src="js/jquery.ajaxchimp.min.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/jquery.nice-select.min.js"></script>
		<script src="js/jquery.magnific-popup.min.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>
